table{
    max-width: 100%;
    row-gap: 30px;
    border-bottom-style:dashed ;
    border-color: rgb(255, 34, 0);
}

th{
    width: 700px;
    max-width: 100%;
}

td{
    width: 700px;
    max-width: 100%;
    color: black;
    border-style:double;
    border-color: black;
}

h4{
    color: #BA5858;
    max-width: 100%;
}

h4:hover{
    background-color: rgb(64, 181, 185);
    transition-duration: 500ms;
    cursor:pointer;
}